.intro__menu {
  display: none;

  &.active {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  button {
    font-size: 1.8rem;
    margin-top: 0;

    &:hover {
      font-size: 2rem;
    }
  }
}
