.footer {
  @include flex(row, space-around);
  @include size(100%);
  color: #fff;
  font-size: 1.3rem;
  padding-bottom: 5px;
  position: relative;
  z-index: 10;

  a {
    color: #fff;
    display: inline-block;
    margin-left: 5px;
  }

  .rs-link {
    @include flex;

    img {
      @include size(70px);
      margin-right: 10px;
    }
  }
}
